<h1>Artigos</h1>

<%= link_to 'Novo Artigo', new_article_path %>

<table>
  <tr>
    <th>Título</th>
    <th>Texto</th>
    <th></th>
  </tr>

  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= link_to 'Exibir', article_path(article) %></td>
    </tr>
  <% end %>
</table>
